@CHARSET "ISO-8859-1";


/* GENERAL */
body {
	font-family: Helvetica;
	background: #efefef;
}

.navbar {
	margin-top: 20px;
	background: #c30044;
}

.clearfix {
    overflow: auto;
}

.right {
	text-align: right;
	align: right;
	float: right;
}

#principal {
	color: #919191;
	float: right;
	vertical-align: top;
	padding: 10px 5px;
	font-size: 13px;
}

/* BUTTONS */
a.button,
.navtitle,
input.button,
div.display,
a.contact {
	float: left;
	display: block;
	text-decoration: none;
	border: 0 none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 160px;
	text-align: center;
	text-transform: none;
	font-weight: 500;
	transition: all 60ms ease-in-out;
	color: #fff;
	line-height: 1.1;
	margin: 0px;
	font-size: 14px;
}

a.nav {
	padding: 10px 30px;
	background: #c30044;
	cursor: pointer;
}

a.contact {
	width: 100px;
	cursor: pointer;
}

a.enable {
	width: 100px;
	cursor: pointer;
}

a.login {
	background: #5b5b5b;
	padding: 10px 0px;
	border-radius: 10px;
	margin: 5px;
	width: 70px;
}

a.contact {
	background: #5b5b5b;
	padding: 10px 0px;
	border-radius: 10px;
	margin: 5px;
	
}

input.button,
a.cancel {
	background: #c30044;
	padding: 5px 0px;
	border-radius: 5px;
	margin: 2px;
}

div.display {
	background: #c30044;
	padding: 5px 0px;
	border-radius: 5px;
	margin: 2px;
}

.view {
	width: 150px;
	cursor: pointer;
	color: #fff;
	background: #c30044;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 5px;
}

.wide {
	width: 100px;
	cursor: pointer;
}

a.login
.contact,
.enable,
.submit,
.msg,
.cancel {
	width: 70px;
	cursor: pointer;
}

div.display {
	width: 150px;
	cursor: pointer;
}

a.nav:hover {
	background-color: #7c002b;
	transition: all 60ms ease;
}

a.contact:hover,
a.login:hover {
	opacity: .70;
	transition: all 60ms ease;
}

.header {
	display: block;
}

.navtitle {
	float: right;
	padding: 6px 20px 5px 0px;
	font-weight: bold;
	font-size: 20px;
}

.page {
	clear: left;
	display: block;
	padding-top: 50px;
	padding-left: 100px;
	align-items: center;
	justify-content: center;
}

.resource {
	clear: left;
	display: block;
	font-weight: bold;
}

select {
	width: 200px;
}

option {
	font-weight: bold;
}

#logo {
	display: inline-block;
	width: 400px;
}

#title {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}

#login-links {
	float: right;
	vertical-align: top; 
}

#currentMonth {
	float: left;
}

#showingresults,
#resources {
	float: right;
}

#resources {
	margin-left: 20px;
	margin-right: 50px;
}

.section {
	margin-top: 60px;
}

.heading,
.msgtitle {
	font-size: 18px;
	font-weight: bold;
}

#addUser,
#addRoom,
#addComputer,
#addReservation {
	display: none;
}

/* TABLES */
table {
	clear: left;
    border-spacing: 5px 2px;
}

th {
	text-align: left;
}

table.planning td,
table.form td {
	height: 25px;
}

table.user td,
table.room td,
table.message td,
table.computer td,
table.reservation td {
	height: 40px;
}

th.w25,
td.w25 {
	width: 25px;
}

th.w80,
td.w80 {
	width: 80px;
}

th.w100,
td.w100 {
	width: 100px;
}

th.w150,
td.w150 {
	width: 150px;
}

th.w200,
td.w200 {
	width: 200px;
}

th.w250,
td.w250 {
	width: 250px;
}

/* MESSAGES */
.messageContent,
.replyContent {
	color: #fff;
	background: #5b5b5b;
	padding: 10px 10px;
	border-radius: 10px;
	margin-right: 50px;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: .50; }
}
