@CHARSET "ISO-8859-1";


/* GENERAL */
body {
	font-family: Helvetica;
	background: #efefef;
}

.navbar {
	margin-top: 20px;
	background: #c30044;
}

.clearfix {
    overflow: auto;
}

#principal {
	color: #919191;
	float: right;
	vertical-align: top;
	padding: 10px 5px;
	font-size: 13px;
}

/* BUTTONS */
a.button,
.navtitle {
	float: left;
	display: block;
	text-decoration: none;
	border: 0 none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 160px;
	text-align: center;
	text-transform: none;
	font-weight: 500;
	transition: all 60ms ease-in-out;
	color: #fff;
	line-height: 1.1;
	margin: 0px;
	font-size: 14px;
}

a.nav {
	padding: 10px 30px;
	background: #c30044;
	cursor: pointer;
}

a.login {
	padding: 10px 0px;
	width: 70px;
	background: #5b5b5b;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
}

a.nav:hover {
	background-color: #7c002b;
	transition: all 60ms ease;
}

a.login:hover {
	opacity: .70;
	transition: all 60ms ease;
}

.header {
	display: block;
}

.navtitle {
	float: right;
	padding: 6px 20px 5px 0px;
	font-weight: bold;
	font-size: 20px;
}

.page {
	clear: left;
	display: block;
	padding-top: 50px;
	padding-left: 100px;
	align-items: center;
	justify-content: center;
}

.resource {
	clear: left;
	display: block;
	font-weight: bold;
}

#logo {
	display: inline-block;
	width: 400px;
}

#title {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}

#login-links {
	float: right;
	vertical-align: top; 
}

#currentMonth {
	float: left;
}

#showingresults,
#resources {
	float: right;
}

#resources {
	margin-left: 20px;
	margin-right: 50px;
}

table {
	clear: left;
    border-spacing: 5px 2px;
}

th.column {
	width: 25px;
}

td {
	height: 25px;
}