<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http auto-config="true"  >
        <intercept-url pattern="/*" access="permitAll" />
 <!--        <intercept-url pattern="/users" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/addUser" access="permitAll" />
        <intercept-url pattern="/addAnyUser" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/computers" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/addComputer" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/rooms" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/addRoom" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/reservations" access="permitAll" /> -->
        <form-login login-page="/login"
                     username-parameter="email"
                     password-parameter="password"
                     authentication-failure-url="/accessDenied" />
        <csrf/>
    </http>

    <authentication-manager erase-credentials="false">
        <authentication-provider ref="daoAuthenticationProvider" />
        <authentication-provider>
        	<user-service>
        		<user name="${admin.name}" password="${admin.password}" authorities="ADMIN" />
        	</user-service>
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean class="org.springframework.security.authentication.dao.DaoAuthenticationProvider" id="daoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="loginService" />
    </beans:bean>

</beans:beans>